<table border="1">
  <tr>
    <th>id</th>
    <th>dep-name</th>
    <th>role</th>
    <th>salary</th>
    <th>action</th>
   </tr>
   <% @dep.each do |i| %>
   <tr>
   	 <td><%= i.id %></td>
   	 <td><%= i.dep_name %></td>
   	 <td><%= i.role %></td>
   	 <td><%= i.sal %></td>
   	 <td><%= link_to "Edit", "mgmnt_form" %>  /  <%= link_to "Destroy", "mgmnt_form" %></td>
   	 <% end %>    
   </tr>
</table>
<center><h3><b><%= link_to "Create New Department", "mgmnt_form" %></b></h3></center><br>
